@media(max-width:610px)
	.offer
		&-icons
			&-i
				margin: 0 10px
				width: 65px
				height: 65px
				font-size: 20px
				&:not(:last-child):after
					width: 10px

@media(max-width:576px)
	.form
		&-inp
			width: 350px
	.cardl
		max-width: 350px
		overflow: hidden
	.search
		&-inp
			width: 350px
	.offer
		&-text
			flex-wrap: wrap
			&-item
				margin-top: 15px
	.cardl
		&-main
			margin-top: 0

@media(max-width:440px)
	.follow
		margin-top: 35px
		&-title
			text-align: center
	.offer
		&-icons
			margin: 70px auto 0
			flex-wrap: wrap
			width: 300px
			&-i
				&_3
					&:after
						display: none
	.search
		&-inp
			width: 300px
	.login
		.log
			margin-left: 0


@media(max-width:360px)
	.form
		&-inp
			width: 300px
	
	.search
		&-inp
			width: 280px
	
	.sub
		&_1
			font-size: 12px
	.filter
		&-text
			font-size: 12px
@media(max-width:300px)
	.form
		&-inp
			width: 250px
	.search
		&-inp
			width: 250px
	.offer
		&-icons
			max-width: 250px
			&-i
				margin: 10px
				&:after
					display: block
				&:nth-child(2n)
					&:after
						display: none
	.star
		&-i
			font-size: 15px


@media(max-width:754px)
	.cards
		margin: 20px 25px